/** @format */

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: max-content;
	width: 100%;
}

.header-links-container ul {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 40px;
}
.header-links-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: nowrap;
}
.header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	width: 96%;
	box-sizing: border-box;
	margin: 0 auto;
}
.header ul li {
	list-style: none;
	cursor: pointer;
	margin: 0;
	white-space: nowrap;
}
.header-links-container > ul span,
.header > section span {
	display: flex;
	align-items: center;
	padding: 2px;
	justify-content: center;
	gap: 10px;
}

.header section {
	background-color: var(--dell-blue);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-primary);
	width: inherit;
	padding: 10px 0;
}
.header section ul {
	display: flex;
	width: 96%;
	margin: 0 auto;
	padding: 5px;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap;
}
.header section ul > li,
.header-links-container ul > li {
	position: relative;
	padding: 1px;
}
.header section ul > li::before,
.header-links-container ul > li::before {
	height: 100%;
	width: 0%;
	position: absolute;
	top: 0;
	content: "";
	transition: all 0.3s ease-in-out;
	left: 0;
	bottom: 0;
	right: 0;
	padding-bottom: 10px !important;
	border-bottom: solid 2px var(--color-primary);
}
.header-links-container ul > li::before {
	border-bottom: solid 2px var(--color-font);
}
.header section ul > li:hover:before,
.header-links-container ul > li:hover::before {
	width: 100%;
}
.header .help,
.header .callback-request {
	background-color: var(--dell-blue);
	color: var(--color-primary);
	padding: 5px 20px;
	white-space: nowrap;
	border-radius: 20px;
}
.header .callback-request {
	background-color: var(--color-red);
}
.header .search-container i {
	font-size: 18px;
	font-weight: bolder;
	cursor: pointer;
}
.header .buy-now,
.header .self-service {
	border: solid 1px var(--color-primary);
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 5px 16px;
	position: relative;
	border-radius: 20px;
	transition: all 0.25s ease-in-out;
}

.header .buy-now:hover i,
.header .self-service:hover i,
.header .buy-now:hover small,
.header .self-service:hover small {
	color: var(--color-font);
	transform: all 0.3s ease-in-out;
}
.header .buy-now i,
.header .buy-now small,
.header .self-service i,
.header .self-service small {
	z-index: 1;
	font-size: 14px;
	font-weight: lighter;
}

.header .buy-now::before,
.header .self-service::before {
	position: absolute;
	width: 0%;
	left: 0;
	height: 100%;
	content: "";
	color: var(--color-red);
	background-color: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: inherit;
	transition: all 0.25s ease-in-out;
}
.header .buy-now:hover:before,
.header .self-service:hover:before {
	width: 100%;
}
.menu {
	display: none;
	font-size: 22px;
	font-weight: bolder !important;
}
.menu i {
	cursor: pointer;
}

/* ============================dropdown menu======================== */

.header-dropdown-container {
	background-color: var(--dell-blue);
	display: flex;
	flex-direction: column;
	z-index: 5;
	align-items: center;
	color: var(--color-primary);
	position: fixed;
	top: 0;
	bottom: 0;
	right: -100%;
	padding: 40px 20px;
	transition: all 0.35s ease-in-out;
	width: 240px;
}
.header-dropdown-container-active {
	right: 0 !important;
}
.header-dropdown-container i {
	position: absolute;
	top: 2px;
	right: 6px;
	font-size: 20px;
	cursor: pointer;
}
.header-dropdown-container ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	padding-left: 0 !important;
	width: 100%;
}
.header-dropdown-container ul > li {
	border: solid 1.5px var(--color-primary);
	padding: 8px;
	width: 100%;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border-radius: 5px;
}
.header-dropdown-container ul > li:hover {
	transform: scale(1.04);
}
/* ================================================================= */

/* =======================Header media query ====================================*/
@media screen and (max-width: 1170px) {
	.header-links-container ul > li {
		display: none;
	}
	.menu {
		display: flex;
	}
}
@media screen and (max-width: 620px) {
	.header-links-container ul > span {
		display: none;
	}
}
@media screen and (max-width: 420px) {
	.header nav {
		gap: 0 !important;
		width: 100%;
		padding-right: 10px;
	}
}
@media screen and (max-width: 330px) {
	.header-links-container {
		gap: 0;
	}
}
